{% extends 'header.html' %}
{%block content%}
<center><h2>User Registration</h2></center>
<form name="myForm" id="TestForm" method = "POST">
            <center><label>Name: </label>
            <input type="text" id="for1Form" name="for1Form" placeholder="Enter name." required/>
            </center>

            <br>
            <br>

            <center><label>Number: </label>
            <input type="number" id="for2Form" name="for2Form" min="1" max="999999999" required/>
            </center>

            <br>
            <br>

            <center><label>Comment:</label>
            <br>

                <textarea id="for3Form" placeholder="Comment." name="for3Form" rows="5"required></textarea>
            </center>

            <!-- <br>
            <br>

            <center><b>The website has a friendly user interface</b><br>
				<input type="radio" name="game1" id="stronglyagree1" value="Strongly Agree" required>Strongly Agree<br>
				<input type="radio" name="game1" id="agree1" value="Agree" required>Agree<br>
				<input type="radio" name="game1" id="neutral1" value="Neutral" required>Neutral<br>
				<input type="radio" name="game1" id="disagree1" value="Disagree" required>Disagree<br>
				<input type="radio" name="game1" id="stronglydisagree1" value="Strongly Disagree" required>Strongly Disagree
			</center>

			<center><b>The website has a great color scheme</b><br>
				<input type="radio" name="game2" id="stronglyagree2" value="Strongly Agree" required>Strongly Agree<br>
				<input type="radio" name="game2" id="agree2" value="Agree" required>Agree<br>
				<input type="radio" name="game2" id="neutral2" value="Neutral" required>Neutral<br>
				<input type="radio" name="game2" id="disagree2" value="Disagree" required>Disagree<br>
				<input type="radio" name="game2" id="stronglydisagree2" value="Strongly Disagree" required>Strongly Disagree
			</center>

			<center><b>The website is easy to navigate</b><br>
				<input type="radio" name="game3" id="stronglyagree3" value="Strongly Agree" required>Strongly Agree<br>
				<input type="radio" name="game3" id="agree3" value="Agree" required>Agree<br>
				<input type="radio" name="game3" id="neutral3" value="Neutral" required>Neutral<br>
				<input type="radio" name="game3" id="disagree3" value="Disagree" required>Disagree<br>
				<input type="radio" name="game3" id="stronglydisagree3" value="Strongly Disagree" required>Strongly Disagree
			</center> -->

            <input type="submit" id="btnConfirm" name="btnConfirm" value="Submit"/>

            {% csrf_token %}

       </form>

       <hr>
       <table id="testTable">
       	{% for item in warehouse %}
       	<tr>
       		<td>{{forloop.counter}}: {{item.name}}, {{item.number}}, {{item.comment}}</td>
       	</tr>
       	{% endfor %}
       </table>
       {% endblock %}
